.form-control:focus {
    color: white !important;
}

select.form-control {
    color: white !important;
}

.filepond--drop-label {
    background-color: #2a3038 !important;
    color: #ffffff !important;
}

.form-group {
    margin-bottom: 2rem !important;
}

.filepond--drip {
    background-color: #2a3038 !important;
    opacity: 1 !important;
}
